<div ng-controller="HomeController">

    <!-- Header  -->
    <div id="home_header">
    	<div id="user_picture"></div>
    	<div id="user_name">
            Hi {{ username }} your Id is {{ id }}
        </div>
    </div> <!-- header -->



    <!-- Body -->
    <div id="home_content">

    	<div class="home_loan_box" ng-show="!loan.length"> You have {{ loans.length }} items with someone. </div>
    	<div class="home_loan_box" ng-show="loan.length" > No one have your stuff. </div>


        <div style="display:none">
            <label> Add new loan </label>
            <input placeholder="Friends Name"          type="text" ng-model="friend.username" require/>
            <input placeholder="What are you loaning"  type="text" ng-model="friend.loan" require/>
        </div>

        <div class="home_loan_box">
            <h2> Loans List </h2>

            <input style="float:left;" type="text" ng-model="search.friend_name" class="search-query" style="width: 180px" placeholder="Search by Username">

            <ul>
                <!-- Col name -->
                <span class="home_list_colum_holder">
                    <li class="home_list_colum_name" id="home_list_header">
                        <a href="" ng-click="order = 'username'; reverse=false"> Friend Name     </a>
                    </li>
                    <li class="home_list_colum_name" id="home_list_header">
                        <a href="" ng-click="order = 'object'; reverse=!reverse">   Stuff you loan  </a>
                    </li>
                    <li class="home_list_colum_name" id="home_list_header">
                        <a href="" ng-click="order = 'days'; reverse=!reverse">     Days since that </a>
                    </li>
                </span>

                <!-- Listing  -->
        	    <li class="home_list_row" ng-animate="'animate'" ng-repeat="loan in loans | orderBy:order:reverse | filter:search" ng-mouseenter="show = true" ng-mouseleave="show = false" >
                    <span class="home_list_colum_name">
                        {{ loan.friend_name }}
                    </span>
                    <span class="home_list_colum_name">
                        {{ loan.object }}
                    </span>
                    <span class="home_list_colum_name" ng-class="{'biggest': biggest(loan.days)}">
                        {{ loan.days }}
                    </span>
                    <div class="returned_loan" ng-show="show" >
                        <label>Returned</label> <input type="checkbox" name="returned_loan" value="returned" ng-click="returned_loan(loan)">
                    </div>
        	    </li>
        	</ul>
        </div>  <!-- home_loan_box -->



        <div class="cube_container" >
            <div class="cube" ng-class="{true: 'cube_rotate', false: ''}[isActive]">
                <div class="frontFace" ng-click="rotate_cube()">
                         <h2> Add loan </h2>
                     </span>
                 </div>
                <div class="backFace">
                    <span ng-click="rotate_cube()" class="normal_face"> cancel </span>
                    <span class="form_box" id="add_loan_form">
                        <input placeholder="Friend Username" type="text" ng-model="loan.friend_name" require/>
                        <input placeholder="Object"          type="text" ng-model="loan.object" require/>
                        <input placeholder="Object"          type="date" ng-model="loan.data"/>
                        <button id="button" ng-click="set_loan(loan)" ng-click="rotate_cube()">Add</button>
                    </span>
                </div>
            </div>
        </div>


        </div>

    </div> <!-- home_content -->
</div>
<!-- Footer -->




<!-- http://www.colourlovers.com/palette/44764/Rebel_Yell -->
